@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

body {
    background-color: rgba(100%, 0%, 36.1%, 1);
    font-family: 'Bricolage Grotesque', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background-color: black;
    height: 70px;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}

nav ul li {
    padding: 0px 10px;
}

li img {
    width: 80px;
    margin-top: 2px;
}

.nav-btn {
    margin: 0px 30px;
}

.nav-btn button {
    padding: 10px 20px;
    margin: 0px 10px;
    outline: none;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    font-size: 0.8rem;
}

.nav-btn button:hover {
    background-color: white;
    color: #000;
}

.container {
    width: 70%;
    margin: 2px auto;
    min-height: 75vh;
    background-color: black;
    color: white;
    padding: 17px 34px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
.song-list{
    width: 45%;
}
.song-items{
    height: 50px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 0px 10px;
    border-radius: 15px;
}
.song-items img{
    height: 80%;
}

.song-list-play-btn{
    display: flex;
    align-items: center;
    gap: 7px;
}

.big-cover{
    width: 45%;
    
}
.big-cover-fix{
    text-align: center;
    position: sticky;
    top: 0;
}

.song-item-play{
    cursor: pointer;
}

.big-cover-fix img{
    width: 70%;
    margin: 40px;
}

.big-cover-fix p{
    padding-top: 7px;
}

.bottom {
    position: sticky;
    bottom: 0px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

#range-bar{
    cursor: pointer;
    width: 80vw;
}

.bottom i {
    margin-top: 7px;
    padding: 0px 5px;
    font-size: 2rem;
    cursor: pointer;
}

.effect{
    position: absolute;
    left: 10vw;
    font-size: 0.8rem;
    /* 100vw = viewport width = 1440px */
    /* 100vh = viewport height = 1000px */
}

.effect img{
    opacity: 0;
    transition: opacity 400ms ease-in;
}
